<div class="empty-content">
  <div class="search-component">
    <i class="iconfont icon-search"></i>
    <input id="search-input" autocomplete="off" placeholder="<%= __('Please input the name of the article.') %>"/>
  </div>
  <div class="article-list">

  </div>
</div>
