.empty-header {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 8px -10px var(--box-shadow-color);
  position: relative;
  z-index: 100px;
  .empty-header-title {
    font-size: 18px;
  }
  .empty-header-nav {
    display: flex;
    font-size: 16px;
    .empty-header-nav-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 0;
        left: 50%;
        bottom: -12px;
        transform: translateX(-50%);
        border: 2px solid var(--font-primary-color);
        border-radius: 2px;
        opacity: 0;
        transition: width .3s, opacity .3s;
      }
      &:hover {
        color: var(--font-primary-color);
        &::before {
          opacity: 1;
          width: 20px;
        }
        a {
          color: var(--font-primary-color);
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .empty-header-nav-item-icon {
        width: 18px;
        margin-right: 4px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
