@import './header.less';
@import './leftMenu.less';
@import './index.less';
@import './post.less';

:root {
  --font-primary-color: #36149d;
  --box-shadow-color: #cecece;
  --font-default-color: #696969;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--font-default-color);
  a {
    color: var(--font-default-color);
  }
  .empty-body {
    display: flex;
  }
}
